.hexagon {
  background-color: #8fff6a;
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  display: flex;
  justify-content: center;
  align-items: center;
}
button p {
  margin-block-start: 0;
  margin-block-end: 0;
}
